body {
    background-color: rgb(176, 185, 170);
    font-family: 'Work Sans', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.card-img-top {
    height: 200px;
    width: 100%;
}

.logo {
    border-radius: 40%;
}

.card-title {
    font-weight: bold;
}