{% extends 'base.html' %}

{% block content %}

<div class="flex-container">
    <div class="flex-item">
        <h1>About Me</h1>
    </div>
    <div class="flex-item">
        <img src="../static/portrait.jpg" width="220" height="300" alt="portrait">
    </div>
    <div class="flex-item">
        <p>I am a backend software developer who is also a licensed physical therapist with 5+ years of experience in outpatient rehab and home health. I seek to use my background as a healthcare professional--combined with my training in Python, SQL, Databases, REST APIs, Flask, and JavaScript--to develop software systems that improve the lives of patients, clinicians, and other healthcare workers.</p>
    </div>
    <div class="flex-item">
        <p>I have undergone training in Fullstack software development at Coding Temple as a means to work to address problems in the US healthcare system. Solutions include developing software that improves coordination among healthcare professionals of different disciplines, improving security and accuracy of medical record transmission and storage, and developing applications that improve the patient and clinician experience such as streamlined EMR/EHR systems and smartphone apps.</p>
    </div>
    <div class="flex-item">
        <img src="../static/computer.jpg" width="400" height="207" alt="portrait">
    </div>
    <div class="flex-item">
        <p>Outside of my professional pursuits, I love staying active and you'll frequently find me running, hiking, or cycling. I'm an avid lover of the outdoors and enjoy gardening, camping, and exploring state and national parks. Also nerdy, I adore reading novels and non-fiction, staying up to date on trends in science, and playing board games.</p>
    </div>
</div>

{% endblock content %}