<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Kate's Portfolio" content="A professional web developer portfolio"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="../static/css/main.css">
<title>Kate - Backend Developer</title>
</head>
<body>

    <header>
      <img src="../static/kate3.png" height="150px" width="150px">
    </header>

    <aside>
      <nav>
        <ul class="nav-container">
          <li class="nav-item"><a href="{{ url_for('site.home') }}">Home</a></li>
          <li class="nav-item"><a href="{{ url_for('site.about') }}">About</a></li>
          <li class="nav-item"><a href="{{ url_for('site.projects') }}">Projects</a></li>
          <li class="nav-item"><a href="{{ url_for('site.workout') }}">Workout</a></li>
        </ul>
      </nav>
    </aside>

    <main>
        <!-- Other page's content -->
        {% block content %}       
        {% endblock content %}
    </main>

    <footer>
      <div class="footer-container">
          <div class="footer-item">
            <a href="https://github.com/kelueders"><img src="../static/github-mark-white.png" height="50px" width="50px"></a><h6>@kelueders</h6>
          </div>
          <div class="footer-item">
            <a href="https://www.linkedin.com/in/katelueders/"><img src="../static/linkedin.png" height="50px" width="50px"></a><h6>@katelueders</h6>
          </div>
      </div>
    </footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>