{% extends 'base.html' %}

{% block content %}

<div class="container text-center">
    <div class="row front-page">
        <div class="col-sm-6">
            <h1>Hello, I'm</h1>
            <h1>Kate Lueders</h1>
            <h5>Backend Developer | Python Enthusiast | Passionate Problem Solver for Healthcare Systems | Physical Therapist</h4>
        </div>
    </div>
    <div class="row b-margin front-page">
        <div class="col-sm-6">
            <p>Welcome to my Portfolio. Take a look around to see what projects I've been working on!</p>
        </div>
    </div>
</div>

{% endblock content %}