{% extends 'base.html' %}

{% block content %}

<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1>Kate Lueders</h1>
            <h4>Backend Developer | Passionate Problem Solver for Healthcare Systems | Physical Therapist</h4>
        </div>
        <div class="col">
            <p>I am a backend software developer who is also a licensed physical therapist with 5+ years of experience in outpatient rehab and home health. I seek to use my background as a healthcare professional--combined with my training in Python, SQL, Databases, REST APIs, Flask, and JavaScript--to develop software systems that improve the lives of patients, clinicians, and other healthcare workers.</p>
        </div>
    </div>
</div>

{% endblock content %}