{% extends 'base.html' %}

{% block content %}

<div class="container text-center">
    <div class="row gy-5">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../static/reading_fusion.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Reading Fusion</h5>
                  <p class="card-text">App that lists top books from last week using HAPI Books API and allows user to create a reading list.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Framework: Flask</li>
                  <li class="list-group-item">Languages: Python, HTML, CSS, SQL</li>
                </ul>
                <div class="card-body">
                  <a href="https://github.com/kelueders/capstone_books.git" class="card-link" target="_blank">GitHub</a>
                  <a href="https://reading-fusion.glitch.me/" class="card-link" target="_blank">Hosted</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../static/book_inventory.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Books Inventory</h5>
                  <p class="card-text">App to allow user to enter custom books into a collection.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Framework: React</li>
                  <li class="list-group-item">Languages: TypeScript, CSS, HTML, SQL</li>
                </ul>
                <div class="card-body">
                  <a href="https://github.com/kelueders/react-book-project.git" class="card-link" target="_blank">GitHub</a>
                  <a href="https://hw-books-rangers.web.app/" class="card-link" target="_blank">Hosted</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../static/flaskr.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Flaskr Blog</h5>
                  <p class="card-text">A Flask Tutorial project with custom features. Work in progress.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Framework: Flask</li>
                  <li class="list-group-item">Languages: Python, HTML, CSS, SQL</li>
                </ul>
                <div class="card-body">
                  <a href="https://github.com/kelueders/flaskr.git" class="card-link" target="_blank">GitHub</a>
                  <a href="#" class="card-link">Hosted</a>
                </div>
              </div>
        </div>
    </div>
</div>

{% endblock content %}